# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
profiles.yml
# ignore basic python artifacts
.env
.venv/
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal
dbt_packages/
api_requests.py
IndicatorData.py
logs/